# atomicwrites
# attrs
# behave
# cached-property
cassandra-driver
# certifi
# chardet
click
# docker
# docker-compose
# docker-pycreds
# dockerpty
# docopt
Flask
flask-accept
# idna
# itsdangerous
# Jinja2
# jsonschema
# MarkupSafe
# more-itertools
# nose
# parse
# parse-type
# pluggy
# py
pytest
PyYAML
requests
rfc3986
# six
# texttable
urllib3
websocket-client
Werkzeug
